@import "styles/utils";

.container {
  max-width: 343px;
  width: 100%;
  margin: 0 auto;

  @include media(">tablet") {
    max-width: 690px;
  }

  @include media(">desktop") {
    max-width: 1110px;
  }
}
