@import "utils";
@import "colors";

@mixin Typography($font-size, $font-weight, $font-style, $line-height, $letter-spacing, $font-family) {
  font-size: $font-size;
  font-weight: $font-weight;
  font-style: $font-style;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  font-family: $font-family;
}

@mixin HeadingL {
  @include Typography(36px, 700, normal, normal, initial, var(--plus-jakarta-sans-font));
  color: var(--color-black);

  @include media(">tablet") {
    font-size: 44px;
  }

  @include media(">desktop") {
    font-size: 56px;
  }
}

@mixin HeadingM {
  @include Typography(26px, 700, normal, normal, initial, var(--plus-jakarta-sans-font));
  color: var(--color-black);

  @include media(">tablet") {
    font-size: 32px;
  }

  @include media(">desktop") {
    font-size: 40px;
  }
}

@mixin HeadingS {
  @include Typography(24px, 700, normal, normal, initial, var(--plus-jakarta-sans-font));
  color: var(--color-black);

  @include media(">tablet") {
    font-size: 32px;
  }
}

@mixin BodyM {
  @include Typography(16px, 500, normal, 26px, initial, var(--plus-jakarta-sans-font));
  color: var(--color-medium-brown);

  @include media(">tablet") {
    font-size: 18px;
    line-height: 28px;
  }
}
